*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Open Sans", sans-serif;
  color: #111111;
  font-weight: 400;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 11rem repeat(2, min-content) 20rem;
  grid-template-columns: [full-start] minmax(6rem, 1fr) minmax(6rem, 1fr) [full-end]; }

.navbar {
  border-top: 10px solid #117050;
  grid-column: full-start / full-end;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .navbar .search {
    display: flex;
    align-items: center; }
  .navbar__logo {
    width: 6.4rem;
    height: 6.4rem; }
  .navbar__search {
    flex: 0 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center; }
    .navbar__search--input {
      width: 26rem;
      height: 4rem;
      font-family: inherit;
      border: 1px solid #b3b3b3;
      padding: .7rem 2rem;
      border-radius: 0;
      margin-right: -3.25rem; }
    .navbar__search--button {
      border: none;
      background-color: #fff; }
    .navbar__search--icon {
      height: 2.2rem;
      width: 2.2rem; }
    .navbar__search--navbtn {
      border: none;
      border-radius: 0;
      background-color: #111111;
      height: 2.4px;
      width: 2.4rem;
      margin-left: 5rem;
      cursor: pointer; }
      .navbar__search--navbtn::before, .navbar__search--navbtn:after {
        background-color: #111111;
        height: 2.4px;
        width: 2.4rem;
        content: "";
        display: block; }
      .navbar__search--navbtn:before {
        transform: translateY(-0.8rem); }
      .navbar__search--navbtn:after {
        transform: translateY(0.5rem); }

.header {
  background-color: lightskyblue;
  grid-column: full-start / full-end; }

.story {
  background-color: orangered;
  grid-column: full-start / full-end; }

.footer {
  background-color: brown;
  grid-column: 1 / -1; }
