*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Open Sans", sans-serif;
  color: #111111;
  font-weight: 400;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 11rem repeat(2, min-content) 20rem;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

.heading-1, .heading-2 {
  font-family: "Oswald", sans-serif;
  font-weight: 700; }

.heading-1 {
  font-size: 9rem;
  line-height: 1.1; }

.heading-2 {
  font-size: 3.8rem;
  line-height: 1.1; }

.navbar {
  border-top: 10px solid #117050;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end];
  justify-content: center; }
  .navbar__search {
    grid-column: 6 / span 2;
    justify-self: center;
    align-self: center; }
  .navbar__link {
    justify-self: center;
    align-self: center; }
  .navbar__logo {
    height: 6.4rem; }
  .navbar__form {
    flex: 0 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center; }
  .navbar__input {
    width: 26rem;
    height: 4rem;
    font-family: inherit;
    border: 1px solid #b3b3b3;
    padding: .7rem 2rem;
    border-radius: 0;
    margin-right: -3.25rem; }
    .navbar__input:focus {
      outline: none; }
  .navbar__button {
    border: none;
    background-color: #fff; }
  .navbar__icon {
    height: 2.2rem;
    width: 2.2rem;
    cursor: pointer; }
  .navbar__navbtn {
    border: none;
    border-radius: 0;
    background-color: #111111;
    height: 2.4px;
    width: 2.4rem;
    margin-left: 5rem;
    cursor: pointer; }
    .navbar__navbtn::before, .navbar__navbtn:after {
      background-color: #111111;
      height: 2.4px;
      width: 2.4rem;
      content: "";
      display: block; }
    .navbar__navbtn:before {
      transform: translateY(-0.8rem); }
    .navbar__navbtn:after {
      transform: translateY(0.5rem); }
  .navbar__btn {
    grid-column: 8 / -1;
    justify-self: start;
    align-self: center; }

.header {
  grid-column: full-start / full-end;
  background-image: url(../img/hero.jpeg);
  background-size: cover;
  background-position: 50% 30%;
  padding: 8rem;
  display: grid;
  grid-template-rows: 1fr min-content minmax(6rem, min-content);
  grid-template-columns: minmax(min-content, max-content);
  grid-row-gap: 3rem; }
  .header > * {
    margin-left: 15rem; }
  .header__text {
    font-size: 1.6rem;
    line-height: 1.6; }
  .header__products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3rem;
    margin-top: 2rem; }
    .header__products img {
      max-height: 16rem;
      max-width: 100%;
      border: 5px solid #117050;
      border-radius: 100%; }

.informations {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-rows: repeat(7, min-content); }

.information {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  grid-template-columns: repeat(2, 50%); }
  .information .green-box {
    width: 16rem;
    height: 2rem;
    background-color: #006341; }
  .information--1 {
    grid-row: 1 / 2; }
  .information__content {
    display: grid;
    grid-template-rows: repeat(5, min-content); }
  .information__img--1 {
    background-image: url(../img/starbucks-1.jpeg);
    background-size: cover;
    background-position: 50% 50%;
    grid-row: 2 / -1;
    max-width: 100%; }
  .information__img--2 {
    grid-row: 1 / -1;
    max-width: 100%; }

.footer {
  background-color: brown;
  grid-column: 1 / -1; }
