// COLOR VARIABLES
$color-primary: #117050;
$color-primary-dark: #006341;

$color-secondary-light: #E8E9EE;
$color-secondary: #b3b3b3;
$color-secondary-dark: #454545;

$color-grey-light: #333333;
$color-grey-dark: #111111;

$color-black: #000;
$color-white: #fff;

// FONT VARIABLES
$font-primary: 'Open Sans', sans-serif;
$font-display: 'Oswald', sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;
$bp-large: 62.5em;
$bp-medium: 50em;
$bp-small: 37.5em;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;

    @media only screen and (max-width: $bp-largest) {
        font-size: 50%;
    }
}

body {
    font-family: $font-primary;
    color: $color-grey-dark;
    font-weight: 400;
    line-height: 1.6;
}

.container {
    display: grid;
    grid-template-rows: 11rem repeat(2, min-content) 20rem;
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}