.navbar {
    // background-color: $color-primary;
    border-top: 10px solid $color-primary;
    grid-column: full-start / full-end;

    display: flex;
    justify-content: space-around;
    align-items: center;

    .search {
        display: flex;
        align-items: center;
    }

    &__logo {
        width: 6.4rem;
        height: 6.4rem;
    }

    &__search {
        flex: 0 0 0 40%;
        display: flex;
        align-items: center;
        justify-content: center;

        &--input {
            width: 26rem;
            height: 4rem;
            font-family: inherit;
            border: 1px solid $color-secondary;
            padding: .7rem 2rem;
            border-radius: 0;
            margin-right: -3.25rem;
        }

        &--button {
            border: none;
            background-color: #fff;
        }

        &--icon {
            height: 2.2rem;
            width: 2.2rem;
        }

        &--navbtn {
            border: none;
            border-radius: 0;
            background-color: $color-grey-dark;
            height: 2.4px;
            width: 2.4rem;
            margin-left: 5rem;
            cursor: pointer;

            &::before,
            &:after {
                background-color: $color-grey-dark;
                height: 2.4px;
                width: 2.4rem;
                content: "";
                display: block;
            }

            &:before { transform: translateY(-.8rem); }
            &:after { transform: translateY(.5rem); }
        }
    }
}