%heading {
    font-family: $font-display;
    font-weight: 700;
}

.heading-1 {
    @extend %heading;
    font-size: 9rem;
    line-height: 1.1;

    @media only screen and (max-width: $bp-small) {
        font-size: 8rem;
    }

    @media only screen and (max-width: $bp-smallest) {
        font-size: 6rem;
    }
}

.heading-2 {
    @extend %heading;
    font-size: 3.8rem;
    line-height: 1.1;
}